<?xml version="1.0" encoding="UTF-8" ?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config">
    <Appenders>
        <Console name="" target="">
            <PatternLayout pattern=""></PatternLayout>
        </Console>
    </Appenders>
    <Loggers>
        <Root>
            <AppenderRef ref=""></AppenderRef>
        </Root>
    </Loggers>
</Configuration>